 {% extends 'main/base.html' %}

{% block content %}
    <div class="container" style="text-align: center;">
        <h6 style="margin: 200px;"> If something is not working properly you can @ me at <br><p style="margin: 20px; text-decoration: underline;">yungchochol@gmail.com</p></br>
             or create an issue in repository on <a href="https://github.com/Ematerasu/DayScheduler">Github</a> 
             <br>Thank you for checking out my site :).
        </h6>
    </div>
{% endblock content %}
    