{% extends 'main/base.html' %}

{% block title %}
    Day Scheduler
{% endblock title %}

{% block css %}
<style>
    .deleteButton {
        background: none!important; 
        border: none; 
        padding: 0!important;
        margin-top: 5px;
    }
    .deleteButton:hover{
        color: #e60000;
        text-decoration: line-through;
    }
</style>
{% endblock css %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>
{% endblock scripts %}


{% block content %}
    <div class="container">
        <div style="padding-top: 40px;" class="row">
            <div class="col-9">
                <table class="table table-bordered" id="schedule">
                    <thead>
                        <tr>
                            <th scope="col" width="100px">Time</th>
                            <th scope="col" width="200px">Monday</th>
                            <th scope="col" width="200px">Tuesday</th>
                            <th scope="col" width="200px">Wednesday</th>
                            <th scope="col" width="200px">Thursday</th>
                            <th scope="col" width="200px">Friday</th>
                            <th scope="col" width="200px">Saturday</th>
                            <th scope="col" width="200px">Sunday</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hour in TIME_VALUES %}
                        <tr>
                            <td> {{hour}} </td>
                            {% for day in rangeDays %}
                                <td style="margin: 0; padding: 0;"> 
                                    <div style="text-align: center; text-overflow: ellipsis;">
                                            {% for item in table.activity_set.all %}
                                                {% if item.day == day and hour in item.time %}
                                                <form method="POST" action="" class="form-group">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id" value="{{item.id}}">
                                                    <button class="deleteButton" type="submit" name="delete" value="delete">
                                                        {{item.text}}
                                                    </button>
                                                </form>
                                                {% endif %}
                                            {% endfor %}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <div class="col-3">
                <p class="text-center">Describe your activity and its time, then hit "Add" to pin it to the schedule</p>
                <form method="POST" action="" class="form-group">
                    {% csrf_token %}
                    <input style="margin:5px;" type="text" class="form-control" placeholder="Activity (max. 25 characters)" name="name">
                    <select style="margin:5px;"  class="form-select" id="inputGroupSelect01" name="day">
                        <option selected>Day</option>
                        <option value="Mo">Monday</option>
                        <option value="Tu">Tuesday</option>
                        <option value="We">Wednesday</option>
                        <option value="Th">Thursday</option>
                        <option value="Fr">Friday</option>
                        <option value="Sa">Saturday</option>
                        <option value="Su">Sunday</option>
                    </select>
                    <select style="margin:5px;"  class="form-select" id="inputGroupSelect01" name="start">
                        <option selected>Start</option>
                        {% for time in TIME_VALUES %}
                            <option value="{{time}}">{{time}}</option>
                        {% endfor %}
                    </select>
                    <select style="margin:5px;"  class="form-select" id="inputGroupSelect01" name="end">
                        <option selected>End</option>
                        {% for time in TIME_VALUES %}
                            <option value="{{time}}">{{time}}</option>
                        {% endfor %}
                    </select>
                    
                    <button style="margin-top: 10px; margin-left:110px" type="submit" name="add" value="add" class="btn btn-outline-dark">Add</button>
                </form>
                <button style="margin-top: 50px; margin-left:90px" type="submit" onclick="TablePDF()" class="btn btn-outline-dark">Download</button>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        function TablePDF(){
            var element = document.getElementById('schedule');
            var opt = {
                margin:       [0,0,15,0],
                filename:     'schedule.pdf',
                image:        { type: 'jpeg', quality: 1 },
                html2canvas:  { 
                    dpi: 192,
                    scale: 5
                    },
                jsPDF:        { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };
            html2pdf(element, opt);
        }
    </script>
    
{% endblock content %}
    